@using Microsoft.AspNetCore.Identity
@model StudentMedicalCertificateSystem.ViewModels.ChangePasswordViewModel

@section Scripts {
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
}

@{
    ViewData["Title"] = "Изменение пароля";
}

<div class="container">
    <a asp-action="Index">Назад ко всем пользователям</a>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Изменение пароля для пользователя @Model.UserName</h1>
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Извините!</b> - @TempData["Error"]</span>
                </div>
            }
            <div class="card">
                <div class="card-body">
                    <form asp-action="ChangePassword" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <input asp-for="UserId" type="hidden" />
                        <input asp-for="UserName" type="hidden" />

                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Введите пароль</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Подтвердите пароль</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Изменить пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
