@model StudentMedicalCertificateSystem.ViewModels.FilterCertificatesViewModel

@section Scripts {
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Подключение Bootstrap-select CSS и JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<span asp-validation-for="StudentData" class="text-danger"></span>

<br />
<details>
    <summary>Сортировка</summary>
    <div class="sorting-form">
        
        <p>Выберите период и/или введите ФИО</p>  

        <form asp-action="Filter" method="post" enctype="multipart/form-data">
            <div class="form-group date-range">
                <label asp-for="IllnessDate" class="control-label" style="margin-right: 10px;">Период с</label>
                <input asp-for="IllnessDate" class="form-control" />

                <label asp-for="RecoveryDate" class="control-label" style="margin-right: 10px; margin-left: 10px;">по</label>
                <input asp-for="RecoveryDate" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="StudentData" class="control-label">Выберите студента</label>
                <select asp-for="StudentData" class="form-control selectpicker" data-live-search="true">
                    <option value="">Выберите студента</option>
                    @foreach (var student in ViewBag.StudentList)
                    {
                        <option value="@student.Text">@student.Text</option>
                    }
                </select>
                <span asp-validation-for="StudentData" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProgramID" class="control-label">Выберите образовательную программу</label>
                <select asp-for="ProgramID" class="form-control selectpicker" data-live-search="true">
                    <option value="">Выберите программу</option>
                    @foreach (var program in ViewBag.ProgramList)
                    {
                        <option value="@program.Value">@program.Text</option>
                    }
                </select>
                <span asp-validation-for="ProgramID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Поиск</button>
            </div>
        </form>
        
    </div>
</details>

<br />

<style>
    .sorting-form {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .date-range {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-right: 10px;
    }
</style>

