@model StudentMedicalCertificateSystem.ViewModels.FindStudentViewModel

<!-- Подключение Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Подключение Bootstrap-select CSS и JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

@section Scripts {
    <!-- Инициализация Bootstrap-select -->
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<span asp-validation-for="StudentData" class="text-danger"></span>

<br />
<details>
    <summary>Поиск студента</summary>
    <div class="sorting-form">

        <form asp-action="Find" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="StudentData" class="control-label">Выберите студента</label>
                <select asp-for="StudentData" class="form-control selectpicker" data-live-search="true">
                    <option value="">Выберите студента</option>
                    @foreach (var student in ViewBag.StudentList)
                    {
                        <option value="@student.Text">@student.Text</option>
                    }
                </select>
                <span asp-validation-for="StudentData" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Выбрать</button>
            </div>
        </form>
    </div>
</details>

<br />

<style>
    .sorting-form {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .date-range {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-right: 10px;
    }
</style>
